<div class="row site-title">
  <h1 id="site-title">HUBSTUB</h1>
</div>

<div class="row home-body-top clearfix">
  <div class="col-lg-5 col-lg-offset-1">
    <div id="upcoming-events" class="home-page-inner">
      <h3 class="home-box-header">Upcoming Events</h3>
      <table>
        <tr class="feature-header">
          <th class="feature-event-date-head">date</th>
          <th colspan=2 class="feature-event">event</th>
        </tr>
        <tr class="feature-event-row">
          <td>
            <div class="feature-event-date">
              <p class="feature-month">mar</p>
              <p class="feature-date">12</p>
              <p class="feature-day">thu</p>
            </div>
          </td>
          <td class="feature-event">
            <p class="feature-event-name"><a href="#">Jason Mraz And Raining Jane</a></p>
            <p class="feature-event-venue">Bellco Theater</p>
          </td>
          <td class="feature-tickets"><a href="#">
              <p>112 Tickets</p>
              <p>Available</p>
          </a></td>
        </tr>
        <tr class="feature-event-row">
          <td>
            <div class="feature-event-date">
              <p class="feature-month">MAR</p>
              <p class="feature-date">12</p>
              <p class="feature-day">THU</p>
            </div>
          </td>
          <td class="feature-event">
            <p class="feature-event-name"><a href="#">Jason Mraz And Raining Jane</a></p>
            <p class="feature-event-venue">Bellco Theater</p>
          </td>
          <td class="feature-tickets"><a href="#">
              <p>112 Tickets</p>
              <p>Available</p>
          </a></td>
        </tr>
        <tr class="feature-event-row">
          <td>
            <div class="feature-event-date">
              <p class="feature-month">MAR</p>
              <p class="feature-date">12</p>
              <p class="feature-day">THU</p>
            </div>
          </td>
          <td class="feature-event">
            <p class="feature-event-name"><a href="#">Jason Mraz And Raining Jane</a></p>
            <p class="feature-event-venue">Bellco Theater</p>
          </td>
          <td class="feature-tickets"><a href="#">
              <p>112 Tickets</p>
              <p>Available</p>
          </a></td>
        </tr>
        <tr class="feature-event-row">
          <td>
            <div class="feature-event-date">
              <p class="feature-month">MAR</p>
              <p class="feature-date">12</p>
              <p class="feature-day">THU</p>
            </div>
          </td>
          <td class="feature-event">
            <p class="feature-event-name"><a href="#">Jason Mraz And Raining Jane</a></p>
            <p class="feature-event-venue">Bellco Theater</p>
          </td>
          <td class="feature-tickets"><a href="#">
              <p>112 Tickets</p>
              <p>Available</p>
          </a></td>
        </tr>
        <tr class="feature-event-row">
          <td>
            <div class="feature-event-date">
              <p class="feature-month">MAR</p>
              <p class="feature-date">12</p>
              <p class="feature-day">THU</p>
            </div>
          </td>
          <td class="feature-event">
            <p class="feature-event-name"><a href="#">Jason Mraz And Raining Jane</a></p>
            <p class="feature-event-venue">Bellco Theater</p>
          </td>
          <td class="feature-tickets"><a href="#">
              <p>112 Tickets</p>
              <p>Available</p>
          </a></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="col-lg-5">
    <div id="popular-events" class="home-page-inner">
      <h3 class="home-box-header">Popular Events</h3>
      <table>
        <tr class="feature-header">
          <th class="feature-event-date-head">Date</th>
          <th colspan=2 class="feature-event">Event</th>
        </tr>
        <tr class="feature-event-row">
          <td>
            <div class="feature-event-date">
              <p class="feature-month">MAR</p>
              <p class="feature-date">12</p>
              <p class="feature-day">THU</p>
            </div>
          </td>
          <td class="feature-event">
            <p class="feature-event-name"><a href="#">Jason Mraz And Raining Jane</a></p>
            <p class="feature-event-venue">Bellco Theater</p>
          </td>
          <td class="feature-tickets"><a href="#">
              <p>112 Tickets</p>
              <p>Available</p>
          </a></td>
        </tr>
        <tr class="feature-event-row">
          <td>
            <div class="feature-event-date">
              <p class="feature-month">MAR</p>
              <p class="feature-date">12</p>
              <p class="feature-day">THU</p>
            </div>
          </td>
          <td class="feature-event">
            <p class="feature-event-name"><a href="#">Jason Mraz And Raining Jane</a></p>
            <p class="feature-event-venue">Bellco Theater</p>
          </td>
          <td class="feature-tickets"><a href="#">
              <p>112 Tickets</p>
              <p>Available</p>
          </a></td>
        </tr>
        <tr class="feature-event-row">
          <td>
            <div class="feature-event-date">
              <p class="feature-month">MAR</p>
              <p class="feature-date">12</p>
              <p class="feature-day">THU</p>
            </div>
          </td>
          <td class="feature-event">
            <p class="feature-event-name"><a href="#">Jason Mraz And Raining Jane</a></p>
            <p class="feature-event-venue">Bellco Theater</p>
          </td>
          <td class="feature-tickets"><a href="#">
              <p>112 Tickets</p>
              <p>Available</p>
          </a></td>
        </tr>
        <tr class="feature-event-row">
          <td>
            <div class="feature-event-date">
              <p class="feature-month">MAR</p>
              <p class="feature-date">12</p>
              <p class="feature-day">THU</p>
            </div>
          </td>
          <td class="feature-event">
            <p class="feature-event-name"><a href="#">Jason Mraz And Raining Jane</a></p>
            <p class="feature-event-venue">Bellco Theater</p>
          </td>
          <td class="feature-tickets"><a href="#">
              <p>112 Tickets</p>
              <p>Available</p>
          </a></td>
        </tr>
        <tr class="feature-event-row">
          <td>
            <div class="feature-event-date">
              <p class="feature-month">MAR</p>
              <p class="feature-date">12</p>
              <p class="feature-day">THU</p>
            </div>
          </td>
          <td class="feature-event">
            <p class="feature-event-name"><a href="#">Jason Mraz And Raining Jane</a></p>
            <p class="feature-event-venue">Bellco Theater</p>
          </td>
          <td class="feature-tickets"><a href="#">
              <p>112 Tickets</p>
              <p>Available</p>
          </a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="row home-body-bottom clearfix">
  <div class="col-lg-10 col-lg-offset-1 clearfix">
    <div id="upcoming-events" class="home-page-inner">
      <h3 class="home-box-header" id="tweets-header">HubStub</h3>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag('katie_tweet.png', size: '916x248') %>
          </div>
          <div class="item">
            <div class="item active">
              <%= image_tag('swift_tweet.png') %>
            </div>
          </div>
        </div>
      </div> <!-- Carousel -->
    </div>
  </div>
</div>
