<div class="row site-title">
  <h1 id="site-title">HUBSTUB</h1>
</div>

<div class="row home-body-top clearfix">
  <div class="col-lg-5 col-lg-offset-1">
    <div id="popular-events" class="home-page-inner">
      <h3 class="home-box-header">Popular Events</h3>
    </div>
  </div>

  <div id="upcoming-events" class="col-lg-5">
    <div id="upcoming-events" class="home-page-inner">
      <h3 class="home-box-header">Upcoming Events</h3>
    </div>
  </div>
</div>

<div class="row home-body-bottom clearfix">
  <div class="col-lg-10 col-lg-offset-1 clearfix">
    <div id="upcoming-events" class="home-page-inner">
      <h3 class="home-box-header">HubStub</h3>
    </div>
  </div>
</div>
