<table>
  <tr colspan="4">
    <th>Daily Summary</th>
  </tr>
  <tr>
    <td>Ordered</td>
    <td>Paid</td>
    <td>Completed</td>
    <td>Total</td>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>27</td>
  </tr>
</table>
