<table>
  <tr colspan="4">
    <th>Summary by Status</th>
  </tr>
  <tr>
    <td>Ordered</td>
    <td>Paid</td>
    <td>Completed</td>
    <td>Total</td>
  </tr>
  <tr>
    <td><%= @orders.ordered.count %></td>
    <td><%= @orders.paid.count %></td>
    <td><%= @orders.completed.count %></td>
    <td><%= @orders.count %></td>
  </tr>
</table>
