<div class="col-md-3">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      orders to display: <span class="selection">10</span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">10</a></li>
      <li><a href="#">20</a></li>
      <li><a href="#">30</a></li>
      <li><a href="#">All</a></li>
    </ul>
  </div>
</div>
<div class="col-md-3">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Timeline: <span class="selection">This Week</span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Today</a></li>
      <li><a href="#">This Week</a></li>
      <li><a href="#">Last 7 Days</a></li>
      <li><a href="#">Last 14 Days</a></li>
      <li><a href="#">This Month</a></li>
      <li><a href="#">Last 30 Days</a></li>
      <li><a href="#">All</a></li>
    </ul>
  </div>
</div>
<div class="col-md-6">
  <div class="btn-group" role="group" aria-label="...">
    <div  style="display:inline-block;">
      <%= button_to "All", admin_filter_order_path("all") %></div>
    <div  style="display:inline-block;">
      <%= button_to "Ordered", admin_filter_order_path("ordered") %></div>
    <div  style="display:inline-block;">
      <%= button_to "Paid", admin_filter_order_path("paid") %></div>
    <div  style="display:inline-block;">
      <%= button_to "Complete", admin_filter_order_path("completed") %></div>
  </div>
</div>
