<table class="table table-striped orders-table">
  <tr>
    <th>Order ID</th>
    <th>Order Date</th>
    <th>Order Time</th>
    <th>Status</th>
    <th>Mark Paid</th>
    <th>Mark Complete</th>
    <th>Cancel Order</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.id, order_path(order.id) %></td>
    <td><%= order.formatted_date %></td>
    <td><%= order.formatted_hour %></td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button_to class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
  <% end %>
</table>
