<table class="table table-striped">
  <tr>
    <th>Order ID</th>
    <th>Order Date</th>
    <th>Order Time</th>
    <th>Status</th>
    <th>Mark Paid</th>
    <th>Mark Complete</th>
    <th>Cancel Order</th>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>5:54 PM</td>
    <td>Jan 19, 2015</td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>5:54 PM</td>
    <td>Jan 19, 2015</td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>5:54 PM</td>
    <td>Jan 19, 2015</td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>5:54 PM</td>
    <td>Jan 19, 2015</td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>5:54 PM</td>
    <td>Jan 19, 2015</td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>5:54 PM</td>
    <td>Jan 19, 2015</td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>5:54 PM</td>
    <td>Jan 19, 2015</td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>5:54 PM</td>
    <td>Jan 19, 2015</td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>5:54 PM</td>
    <td>Jan 19, 2015</td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
  <tr>
    <td><a href="#">1</a></td>
    <td>5:54 PM</td>
    <td>Jan 19, 2015</td>
    <td><span class="label label-primary">Paid</span></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
    <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
    <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
  </tr>
</table>
