<h2 class="admin-title">Admin Dashboard</h2>
<div class="row">
  <div class="col-lg-3">
    <%= render 'admin_menu' %>
  </div>
  <div class="col-lg-9 well">
    <div class="dash-section clearfix">
      <h3 class="admin-panel-title">Order Summary</h3>
      <div class="col-md-6 summary-stat-box">
        <table>
          <tr colspan="4">
            <th>Daily Summary</th>
          </tr>
          <tr>
            <td>Ordered</td>
            <td>Paid</td>
            <td>Completed</td>
            <td>Total</td>
          </tr>
          <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>27</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 summary-stat-box">
        <table>
          <tr colspan="4">
            <th>Orders Placed</th>
          </tr>
          <tr>
            <td>Today</td>
            <td>Last Week</td>
            <td>Last Month</td>
            <td>Total</td>
          </tr>
          <tr>
            <td>23</td>
            <td>73</td>
            <td>400</td>
            <td>899</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="dash-section clearfix">
      <h3 class="admin-panel-title">Recent Orders</h3>
      <div class="col-md-3">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Orders to Display: <span class="selection">10</span><span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">10</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#">30</a></li>
            <li><a href="#">All</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Timeline: <span class="selection">This Week</span><span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Today</a></li>
            <li><a href="#">This Week</a></li>
            <li><a href="#">Last 7 Days</a></li>
            <li><a href="#">Last 14 Days</a></li>
            <li><a href="#">This Month</a></li>
            <li><a href="#">Last 30 Days</a></li>
            <li><a href="#">All</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">All</button>
          <button type="button" class="btn btn-default">Ordered</button>
          <button type="button" class="btn btn-default">Paid</button>
          <button type="button" class="btn btn-default">Complete</button>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>Order Time</th>
          <th>Status</th>
          <th>Mark Paid</th>
          <th>Mark Complete</th>
          <th>Cancel Order</th>
        </tr>
        <tr>
          <td><a href="#">1</a></td>
          <td>5:54 PM</td>
          <td>Jan 19, 2015</td>
          <td><span class="label label-primary">Paid</span></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
          <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
        </tr>
        <tr>
          <td><a href="#">1</a></td>
          <td>5:54 PM</td>
          <td>Jan 19, 2015</td>
          <td><span class="label label-primary">Paid</span></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
          <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
        </tr>
        <tr>
          <td><a href="#">1</a></td>
          <td>5:54 PM</td>
          <td>Jan 19, 2015</td>
          <td><span class="label label-primary">Paid</span></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
          <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
        </tr>
        <tr>
          <td><a href="#">1</a></td>
          <td>5:54 PM</td>
          <td>Jan 19, 2015</td>
          <td><span class="label label-primary">Paid</span></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
          <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
        </tr>
        <tr>
          <td><a href="#">1</a></td>
          <td>5:54 PM</td>
          <td>Jan 19, 2015</td>
          <td><span class="label label-primary">Paid</span></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
          <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
        </tr>
        <tr>
          <td><a href="#">1</a></td>
          <td>5:54 PM</td>
          <td>Jan 19, 2015</td>
          <td><span class="label label-primary">Paid</span></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
          <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
        </tr>
        <tr>
          <td><a href="#">1</a></td>
          <td>5:54 PM</td>
          <td>Jan 19, 2015</td>
          <td><span class="label label-primary">Paid</span></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
          <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
        </tr>
        <tr>
          <td><a href="#">1</a></td>
          <td>5:54 PM</td>
          <td>Jan 19, 2015</td>
          <td><span class="label label-primary">Paid</span></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
          <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
        </tr>
        <tr>
          <td><a href="#">1</a></td>
          <td>5:54 PM</td>
          <td>Jan 19, 2015</td>
          <td><span class="label label-primary">Paid</span></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
          <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
        </tr>
        <tr>
          <td><a href="#">1</a></td>
          <td>5:54 PM</td>
          <td>Jan 19, 2015</td>
          <td><span class="label label-primary">Paid</span></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Paid</button></td>
          <td><button type="button" class="btn btn-default btn-xs">Mark Complete</button></td>
          <td><button type="button" class="btn btn-danger btn-xs">Cancel Order</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
