<div class="row footer-section">
  <hr />
  <div class="col-lg-3 footer" id="footer-left">
    <p>Follow Us</p>
  </div>
  <div class="col-lg-3 footer" id="footer-secondleft">
    <p>About Us</p>
  </div>
  <div class="col-lg-3 footer" id="footer-secondright">
    <p>Help</p>
  </div>
  <div class="col-lg-3 footer" id="footer-right">
    <p>Contact</p>
  </div>
</div>
