<div id="footer">
  <p><%= link_to "Follow Us", root_path, {:style =>'color:#FFF'} %></p>
  <p><%= link_to "About Us", root_path, {:style =>'color:#FFF'}  %></p>
  <p><%= link_to "Help", root_path, {:style =>'color:#FFF'}  %></p>
  <p><%= link_to "Contact", root_path, {:style =>'color:#FFF'}  %></p>
</div>
