<div class="row event-listing-page">
  <div class="col-lg-3 event-filter">
    <div class="event-filter-inner" >
      <div class="event-filter-title">
        <h3>Filters</h3>
        <%= render 'category_filter' %>
      </div>
    </div>
  </div>
  <div class="col-lg-9 event-listing">
    <div class="event-listing-inner">
      <%= render partial: "shared/event_table" %>
    </div>
  </div>
</div>
