<div class="cart-items">
  <h2>Review Your Order!</h2>
</div>
<%= render partial: "shared/cart_items" %>
<div class="checkout">
  <% if current_user %>
  <%= button_to "Submit Order", orders_path(user_id: current_user.id), cart: @cart, class: 'btn btn-default btn-lg' %>
</div>
<% end %>
