<div class="venue-events">
  <div class="venue-event-title">
    <h1><%= @venue.name %> Events</h1>
  </div>
  <div class="event-page col-lg-8 col-lg-offset-2">
    <div class="row event-page-header event-page-inner">
      <%= render partial: "shared/event_table" %>
    </div>
  </div>
</div>
