<% if @cart.empty? %>
  Your cart is empty!
<% else %>
  <div class="cart-items">
    <h2>YOUR CART</h2>
    <p> Ticket availability subject to change </p>
  </div>
  <%= render partial: "shared/cart_items" %>
  <div class="checkout">
  <% if current_user %>
    <%= link_to "Checkout", new_order_path, cart: @cart, class: 'btn btn-default btn-lg' %>
  <% else %>
    <%= button_to "Checkout", login_for_cart_path, method: :get, class: 'btn btn-default btn-lg'%>
  <% end %>
  </div>
<% end %>
