<div class="edit_categories">
<% @categories.each do |category| %>
<p><h4> <%= category.id %> <%= category.name %></h4></p>
  <%= link_to "Edit Category", edit_admin_category_path(category.id) %>
<% end %>
<p><%= link_to "Create Category", new_admin_category_path %></p>
</div>
