.admin-title{
  font-family: 'Lato';
  color: white;
  text-align: center;
}

.admin-panel-title {
  margin-top: 0;
  text-align: center;
}

.summary-stat-box {
  background: white;
}

.dash-section {
  margin-bottom: 30px;
}

.dashboard-link a {
  color: black;
  font-family: 'Lato';
}

.admin-event-table {
  background-color: white;
}
