.admin-title{
  font-family: 'Lato';
  color: white;
  text-align: center;
}

.admin-panel-title {
  margin-top: 0;
  text-align: center;
}

.summary-stat-box {
  background: white;
}

.dash-section {
  margin-bottom: 30px;
}

.dashboard-link a {
  color: black;
  font-family: 'Lato';
}

.admin-event-table {
  background-color: white;
}

.admin-user-listing-table {
  background-color: white;
}

.user-details {
  color: white;
  margin-top: 0;
  text-align: center;
  font-family: 'Lato';
}

.admin-category-table {
  background-color: white;
}

.admin-catgory {
  font-family: 'Lato';
  color: white;
  text-align: center;
}

.admin-event {
  font-family: 'Lato';
  color: white;
  text-align: center;
}

.admin-user {
  font-family: 'Lato';
  color: white;
  text-align: center;
}

.admin-btn {
  width: 130px;
}

.admin-dash {
  background: rgba(224, 224, 224, 0.7);
}
