/*
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Langdon';
  src:url('langdon-webfont.eot');
  src:url('langdon-webfont.eot?#iefix') format('embedded-opentype'),
  url('langdon-webfont.svg#icomoon') format('svg'),
  url('langdon-webfont.woff') format('woff'),
  url('langdon-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

/* FULL SITE */

#errors {
  color: black;
  background: rgba(224, 224, 224, 0.7);
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  text-align: center;
}

#errors p {
  font-family: 'Lato';
  padding-bottom: 10px;
  padding-top: 10px;
}

.main-body {
  margin-top: 50px;
}

a {
  color: white;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/red-rocks.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'bitter', serif !important;
  margin: 0;
  padding: 0;
}


html, body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#content {
  padding:10px;
  padding-bottom:135px;   /*bottom Height of the footer element */
}

a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

link {
  color: white;
}

div#floater {
  float: left;
  position: fixed;
  max-width: 250px;
}

.table tbody>tr>td.vert-align{
  vertical-align: middle;
}

.delivery-meth {
  text-transform: capitalize;
}

/* HOME PAGE */

#twitter_feed {
  width: 437px;
  margin-left: -6px;
}

.site-title #site-title {
  font-family: 'Langdon';
  font-size: 100px;
  color: white;
}

.home-body-top {
  margin-top: 150px;
  margin-bottom: 40px;
}

.home-body-bottom {
  margin-top: 20px;
}

.feature-header {
  font-family: 'Lato';
}

.home-box-header {
  margin: 0;
  text-align: center;
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#tweets-header {
  padding-bottom: 90px;
}

.site-title {
  text-align: center;
  margin-top: 75px;
}

.home-page-inner {
  padding: 15px;
  background: rgba(224, 224, 224, 0.7);
}

.home-page-inner left {
  min-height: 400px;
}

#popular-events {
  float: right;
  margin-bottom: 16px;
  width: 437px;
  margin-right: 30px;
}

#upcoming-events p {
  line-height: 21px;
}

/* NAV BAR */

ul.dropdown-menu {
  background: rgba(20, 20, 20, .5);
}

.login-bar {
  color: white;
  padding: 10px 0;
  font-family: 'Lato';
  font-size: 12px;
  letter-spacing: 1px;
}

.login-bar-cart {
  text-align: left;
}

.login-bar-login {
  text-align: right;
}

.login-bar-cart-link {
  padding-right: 15px;
}

.login-bar-login-links {
  padding-left: 15px;
}

ul.dropdown-menu li a {
  color: white;
  font-family: "Lato";
}

ul.dropdown-menu p.navbar-text {
  color: white;
  text-transform: uppercase;
  font-family: "Lato";
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-nav > li:hover > .dropdown-menu {
  display: block;
}

/* FEATURE EVENTS */

.feature-event-row {
  font-family: "Lato";
  border-top: 1px solid #efefef;
}

.feature-event-row a {
  color: black;
}

.feature-event-row a:hover {
  color: black;
  text-decoration: none;
}

.feature-header th {
  padding-bottom: 5px;
}

.feature-event {
  padding-left: 10px;
  width: 275px;
}

.feature-event-name {
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 3px;
}

.feature-event-venue {
  font-size: 15px;
  line-height: 15px;
}

.feature-event-date-head {
  text-align: center;
  width: 55px;
}

.feature-event-date {
  text-align: center;
  background: #efefef;
  width: 55px;
  padding: 5px 0;
  margin-bottom: 10px;
}

.feature-event-date p {
  margin: 0;
  padding: 0;
}

.feature-month {
  font-weight: bold;
  line-height: 13px;
}

.feature-date {
  font-size: 28px;
  line-height: 30px;
}

.feature-day {
  font-weight: bold;
  line-height: 13px;
}

.feature-tickets {
  text-align: center;
}

.feature-tickets p {
  line-height: 15px;
  font-size: 15px;
  margin: 0;
}

/* FOOTER */

#footer {
  width:100%;
  height:135px;
  padding-top: 20px;
  padding-bottom: 10px;
  position:absolute;
  bottom:0;
  left:0;
  background:black;
  text-align: center;
}

#footer h5 {
  display: inline;
  font-family: "Lato";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

#footer p {
  font-family: "Lato";
  font-size: 14px;
  color: white;
  margin-top: 12px;
}

.follow-icon {
  margin-top: 15px;
  width: 48px;
}

#footer .footer-help p {
  text-align: left;
  margin-top: 14px;
}


/* LOGIN PAGE */

.login-form p {
  color: black;
  margin-left: 55%;
  margin-right: 10%;
  display: inline;
  font-size: 15px;
}

.login-form {
  background: rgba(224, 224, 224, 0.7);
  margin-top: 20px;
  color: black;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  font-family: 'Lato';
  font-size: 15px;
}

.login-form h1 {
  text-align: center;
  font-family: 'Langdon';
  text-transform: uppercase;
}

.cancel {
  float: right;
  font-size: 17px
}

.cancel:hover {
  color: rgb(191, 63, 63)
}

/* Seller */

#seller-edit-item {
  background: rgba(224, 224, 224, 0.7);
  font-family: "Lato";
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

#seller-edit-item .control-label {
  margin-top: 5px;
  font-size: 15px;
}

#seller-edit-item .form-group {
  margin-left: 10px;
  margin-right: 10px;
}

#seller-edit-item .btn {
  margin-left: 10px;
  margin-bottom: 10px;
}
