/*
 *= require_tree .
 *= require_self
 */

.main-body {
  margin-top: 50px;
}

a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

a:link {

}

div#floater {
  float: left;
  position: fixed;
  max-width: 250px;
}
