/*
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Langdon';
  src:url('langdon-webfont.eot');
  src:url('langdon-webfont.eot?#iefix') format('embedded-opentype'),
  url('langdon-webfont.svg#icomoon') format('svg'),
  url('langdon-webfont.woff') format('woff'),
  url('langdon-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* FULL SITE */

.main-body {
  margin-top: 50px;
}

a {
  color: white;
}

body {
  background: url(/assets/red-rocks.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  font-family: 'bitter', serif !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

link {
  color: white;
}

div#floater {
  float: left;
  position: fixed;
  max-width: 250px;
}

/* HOME PAGE */

.site-title #site-title {
  font-family: 'Langdon';
  font-size: 100px;
  color: white;
}

.home-body-top {
  margin-top: 150px;
}

.home-body-bottom {
  margin-top: 20px;
}

.home-box-header {
  margin: 0;
  text-align: center;
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.site-title {
  text-align: center;
  margin-top: 75px;
}

.home-page-inner {
  padding: 15px;
  background: rgba(224, 224, 224, 0.7);
  border-radius: 6px;
  min-height: 400px;
}

/* NAV BAR */

ul.dropdown-menu {
  background: black;
}


ul.dropdown-menu li a {
  color: white;
  font-family: "Lato";
}

ul.dropdown-menu p.navbar-text {
  color: white;
  text-transform: uppercase;
  font-family: "Lato";
  margin-bottom: 10px;
  margin-top: 10px;
}


/* FOOTER */

#footer{
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 100px;
  min-height: 100px;
}

#footer p {
  display: inline;
  margin-left: 70px;
  margin-right: 70px;
  font-family: "Lato";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

hr {
  border-color: #536267;
  width: 55%;
}

/* LOGIN PAGE */

.login-form p {
  color: black;
  margin-left: 55%;
  margin-right: 10%;
  display: inline;
  font-size: 15px;
}

.login-form {
  background: rgba(224, 224, 224, 0.7);
  margin-top: 20px;
  color: black;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  font-family: 'Lato';
  font-size: 15px;
}

.login-form h1 {
  text-align: center;
  font-family: 'Langdon';
  text-transform: uppercase;
}
