.cart-items {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: 'Lato';
  color: white;
  text-align: center;
}

.checkout {
  margin-top: 20px;
  float: right;
}

.total_price {
  text-align: right;
}
