.user-dash-sidebar {
  font-family: "Lato";
  padding-bottom: 15px;
}

.user-dash-sidebar h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.user-edit-btn {
  margin-top: 15px;
}

.store-address-link {
  color: black;
}
