<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <h3 class="admin-panel-title">Admin Panel</h3>
    <hr />
    <li class="dashboard-link"><%= link_to "Dashboard", admin_path %></li>
    <li class="dashboard-link"><%= link_to "Manage Events", admin_events_path %></li>
    <li class="dashboard-link"><%= link_to "Manage Categories", admin_categories_path %></li>
    <li class="dashboard-link"><%= link_to "View Users", admin_users_path %></li>
  </ul>
</div>
