<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <h3 class="admin-panel-title">Admin Panel</h3>
    <hr />
    <li><%= link_to "Dashboard", admin_path %></li>
    <li><%= link_to "Manage Items", items_path %></li>
    <li><%= link_to "Manage Categories", categories_path %></li>
    <li><%= link_to "Manage Users", admin_users_path %></li>
  </ul>
</div>
